.bold {
    font-weight: bold;
    font-size: 20px
}

.Description {
    font-family: sans-serif;
    font-size: 24px;
}

ol {
    font-size: 40px;
}

#mac-cheese {
    font-size: 80px;
    background-color: brown;
}
img {
    width: 1000px; height: 500px;
}